<!-- eslint-disable -->
<template>
    <div>
      <v-layout row justify-center class="align pa-2">
      <v-spacer class="hidden-sm-and-down"></v-spacer>
        <div>
          <router-link to="/cadastro" class="cadastro">Cadastre-se para receber novidades!</router-link>
        </div>
      </v-layout>
      <v-layout row justify-center class="align">
        <div>
          <img src="../../assets/logo-meio-corinthians.png" alt="logo-corinthians">
        </div>
      </v-layout>
      <v-layout row justify-center class="align">
        <div>
          <a href="https://play.google.com/store/apps/details?id=br.com.arcolabs.corinthiansdigital"><img src="../../assets/logo-android-baixar.png" alt="logo-android"></a>
        </div>
        <div>
          <img src="../../assets/img-game-baixar.png" alt="logo-corinthians">
        </div>
        <div>
          <a href="https://itunes.apple.com/us/app/game-do-corinthians/id1389986209?l=pt&ls=1&mt=8"><img src="../../assets/logo-ios-baixar.png" alt="logo-ios"></a>
        </div>
      </v-layout>
      <v-layout row justify-center class="align">
        <div>
          <img src="../../assets/celular-telas.png" class="img-responsive" alt="celular-telas">
        </div>
      </v-layout>
    </div>
</template> <!-- eslint-disable -->
<style>
.align {
  padding-top: 2%;
}
.cadastro {
  text-decoration: none;
  color: #fff;
}
</style>
<script>
</script>