<!-- eslint-disable -->
<template>
  <v-app style="background: black;">
      <v-layout row wrap>
          <v-spacer></v-spacer>
          <router-link to="/"><img src="../../assets/corinthians.jpeg"></router-link>
            <v-spacer></v-spacer>
      </v-layout>
  </v-app>
</template><!-- eslint-disable -->
<!-- eslint-disable -->
<script>
    /* eslint-disable */
    export default {
        data () {
            return {
            }
        }
    }
</script>
