<!-- eslint-disable -->
<template>
    <div class="bg">
        <div class="logo-hotsite hidden-sm-and-down">
        <img src="../../assets/logo-hotsite-corinthians.png" class="logo-hotsite-img">
      </div>
      <div class="logo-hotsite-sm hidden-md-and-up">
        <img src="../../assets/logo-game-corinthians-mobile.png" class="logo-hotsite-sm-img">
      </div>

      <!-- SUCCESS -->
      <v-layout row justify-center>
        <v-dialog v-model="dialog" max-width="390">
          <v-card>
            <v-card-title class="headline">Obrigado por se cadastrar.</v-card-title>
            <v-card-text>Obrigado por se cadastrar! Agora a bola está conosco, em breve enviaremos o link para download do Game do Corinthians.</v-card-text>
            <v-card-actions>
              <v-btn color="blue darken-1" flat="flat" @click="closeDialog">
                Fechar
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>

      <!-- FEEDBACK -->
      <v-layout row justify-center>
        <v-dialog v-model="dialogFeedback" persistent max-width="700px">
          
          <v-card>
            <v-card-title>
              <span class="headline">FEEDBACK</span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field
                    v-model="feedback.name"
                    label="Nome Completo" 
                    :rules="[rules.required, rules.maxChar]"
                    required></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field 
                    v-model="feedback.email"
                    label="Email" 
                    :rules="[rules.required, rules.email]"
                    required></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field 
                    v-model="feedback.title"
                    label="Título da Mensagem" 
                    :rules="[rules.required, rules.maxChar]"
                    required></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-text-field 
                    v-model="feedback.message"
                    label="Mensagem" 
                    :rules="[rules.required, rules.maxCharMessage]"
                    multi-line
                    required></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
              <small>*Campo obrigatório</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" flat @click.native="dialogFeedback = false">Fechar</v-btn>
              <v-btn color="blue darken-1" flat @click.native="dialogFeedback = false">Salvar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-layout>

      <v-container fluid grid-list-md class="form-background" >
        <v-form v-model="valid" class="center">
          <v-layout row wrap>
            <v-flex xs12>
              <h2>Cadastro</h2>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12 sm12 md6>
              <v-text-field
              label="Nome"
              v-model="register.firstName"
              :rules="[rules.required, rules.maxChar]"
              :counter="25"
              required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md6>
              <v-text-field
              label="Sobrenome"
              v-model="register.lastName"
              :rules="[rules.required, rules.maxChar]"
              :counter="25"
              required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md6>
              <v-text-field
              label="E-mail"
              v-model="register.email"
              :rules="[rules.required, rules.email]"
              required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md4>
              <v-text-field
              label="Cidade"
              v-model="register.city"
              :rules="[rules.required, rules.maxCharCity]"
              :counter="50"
              required
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md2>
              <v-select
                  label="Estado"
                  v-bind:items="itemsState"
                  item-text="countryStates.abbreviation"
                  item-value="countryStates"
                  v-model="register.state"
                  :rules="[rules.required]"
                  single-line
                  required
                  bottom
                  autocomplete
              ></v-select>
            </v-flex>

            <v-flex xs12 sm12>
              <v-text-field
              label="Nome da mãe"
              v-model="register.motherName"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm11>
              <v-checkbox
                label="Faça o cadastro completo e ganhe + 50 moedas"
                v-model="register.completeRegister"
              ></v-checkbox>
            </v-flex>
          </v-layout>
          <v-layout row wrap v-if="register.completeRegister">
            <v-flex xs12 sm11 md3>
              <v-text-field
                mask="###.###.###-##"
                v-model="register.cpf"
                :rules="[rules.cpf]"
                label="CPF"></v-text-field>
            </v-flex>

            <v-flex xs12 sm11 md2>
              <v-text-field
                mask="#####-###"
                v-model="register.postalCode"
                label="CEP"></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md6>
              <v-text-field
              label="Endereço (Rua, Av.)"
              v-model="register.address"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md2>
              <v-text-field
              mask="#####"
              v-model="register.number"
              label="Número"></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md3>
              <v-text-field
              label="Complemento"
              v-model="register.complement"
              ></v-text-field>
            </v-flex>

            <v-flex xs12 sm12 md6>
              <v-text-field
              label="Bairro"
              v-model="register.district"
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-layout row wrap>
            <v-flex xs12 md2>
              <span>Tipos de jogos</span>
            </v-flex>
          </v-layout>
          <v-layout row wrap>
            <v-flex xs12 md2>
              <v-checkbox
                label="Aventura"
                v-model="register.checkbox.adventure"
              ></v-checkbox>
            </v-flex>
            <v-flex xs12 md2>
              <v-checkbox
                label="Estratégia"
                v-model="register.checkbox.strategy"
              ></v-checkbox>
            </v-flex>
            <v-flex xs12 md2>
              <v-checkbox
                label="Esporte"
                v-model="register.checkbox.sport"
              ></v-checkbox>
            </v-flex>
            <v-flex xs12 md2>
              <v-checkbox
                label="Corrida"
                v-model="register.checkbox.racing"
              ></v-checkbox>
            </v-flex>
            <v-flex xs12 md2>
              <v-checkbox
                label="Simulação"
                v-model="register.checkbox.simulation"
              ></v-checkbox>
            </v-flex>
            <v-flex xs12 md2>
              <v-checkbox
                label="Ação"
                v-model="register.checkbox.action"
              ></v-checkbox>
            </v-flex>
            <v-flex xs12>
              <v-checkbox
                label="Não desejo receber mensagens e informações dos games."
                v-model="register.newsletter"
              ></v-checkbox>
            </v-flex>
          </v-layout>
          <!-- <v-layout wrap row>
            <v-btn class="btn-register"
            color="btn_color"
            :disabled="!valid"
            @click="registerUser"
            style="border-radius: 5px;">
              CADASTRAR
            </v-btn>
            <v-btn 
            color="indigo" 
            dark 
            round
            @click.native.stop="dialogFeedback = true">
              MANDAR FEEDBACK
            </v-btn>
          </v-layout> -->
          <v-layout wrap row>
            <v-flex xs11> <!-- eslint-disable-next-line -->
              <p class="disclaimer">* Disclaimer: As informações coletadas serão utilizadas apenas para cadastro nas lojas Google para o lançamento do jogo.</p>
            </v-flex>
          </v-layout>
        </v-form>
      </v-container>
      <v-layout row wrap class="footer-partner">
        <v-flex xs12 sm6 md3>
          <a href="http://arcolabs.com.br"><img src="../../assets/rodape-logo-parceiro-01.png" class="img-footer"></a>
        </v-flex>
        <v-flex xs12 sm6 md3>
          <a href="http://www.playstats.com.br"><img src="../../assets/rodape-logo-parceiro-04.png" class="img-footer"></a>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12>
          <p class="footer-center">{{ new Date().getFullYear() }}
            Copyright - Game do Corinthians - Todos os direitos reservados </p>
        </v-flex>
      </v-layout>
    </div><!-- eslint-disable-next-line -->
</template> <!-- eslint-disable -->
<script>/* eslint-disable */
/* eslint-disable */
import axios from 'axios';
import cpf from 'gerador-validador-cpf';
import router from '../../router/router'

export default {
  data() {
    return {
      valid: false,
      dialog: false,
      dialogFeedback: false,
      register: {
        origin: {
          id: '2',
        },
        completeRegister: false,
        firstName: '',
        lastName: '',
        email: '',
        city: '',
        state: null,
        motherName: '',
        cpf: '',
        postalCode: '',
        address: '',
        number: '',
        complement: '',
        district: '',
        newsletter: false,
        checkbox: {
          adventure: false,
          strategy: false,
          sport: false,
          racing: false,
          simulation: false,
          action: false,
        },
      },
      feedback: {
        name: '',
        email: '',
        title: '',
        message: ''
      },
      itemsState: [],
      rules: {
        required: value => !!value || 'Obrigatório',
        maxChar: value => value.length <= 25 || 'Precisa ter, no máximo 25 caracteres',
        maxCharMessage: value => value.length <= 1000 || 'Precisa ter, no máximo 1000 caracteres',
        maxCharCity: value => value.length <= 50 || 'Precisa ter, no máximo 50 caracteres',
        email: (value) => {
          // eslint-disable-next-line
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'E-mail inválido';
        },
        // eslint-disable-next-line
        cpf: (value) => {
          return cpf.validate(value) || 'CPF inválido';
        },
      },
    };
  },
  created() {
    axios.get('/countries/30/states')
    // eslint-disable-next-line
      .then(response => {
        // eslint-disable-next-line
        this.itemsState = response.data._embedded.countryStatesResourceList;
      });
  },
  methods: {
    // eslint-disable-next-line
    validateCPF() {
      const validCPF = cpf.validate(this.register.cpf);
      if (!validCPF && this.register.completeRegister) {
        this.valid = false;
        return this.valid;
      }
    },
    closeDialog() {
      this.dialog = false;
      router.replace('/');
    },
    registerUser() {
      axios.post('/persons/register-beta', {
        origin: { id: '2' },
        completeRegister: this.register.completeRegister,
        firstName: this.register.firstName,
        lastName: this.register.lastName,
        email: this.register.email,
        city: this.register.city,
        state: this.register.state,
        motherName: this.register.motherName,
        cpf: this.register.cpf,
        postalCode: this.register.postalCode,
        address: this.register.address,
        number: this.register.number,
        complement: this.register.complement,
        district: this.register.district,
        newsletter: this.register.newsletter,
        gameTypes: this.register.checkbox,
      })
      // eslint-disable-next-line
      .then(response => {
          // eslint-disable-next-line
          console.log(response.status);
          if (response.status === 201) {
            this.dialog = true;
          }
        });
    },
  },
};
</script>
<style scoped>
.bg {
    background: url("../../assets/background-layout-hotsite-corinthians@1920x1080.jpg")
                      no-repeat center fixed;
}
</style>
