<template>
  <v-app dark>
    <div class="app" >
      <router-view></router-view>
    </div>
  </v-app>
</template>

<style>/* eslint-disable */
/* eslint-disable */
  ::-webkit-scrollbar {
    display: none;
  }

  .app {
    background: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: #FFF;
  }

  .center {
    padding-left: 5%;
    padding-right: 5%;
  }

  .logo-hotsite-img {
    width: 60%;
    margin-left: 20%;
    padding-bottom: 10%;
    position: absolute;
  }

  .logo-hotsite-sm-img {
    top: 10px;
    width: 80%;
    margin-left: 11%;
    position: absolute;
  }

  h2 {
    font-weight: 300;
  }

  .form-background {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin-top: 10%;
    width: 60%;
  }

  .btn-register {
    margin: 0 auto;
    margin-bottom: 3%;
  }

  .disclaimer {
    font-size: 9px;
    margin: 0 auto;
  }

  /* FOOTER */

  .footer-partner {
    padding-left: 34%;
    padding-right: 1%;
    padding-top: 3%;
  }

  .footer-center {
    padding-left: 40%;
    margin: 0 auto;
    padding-top: 3%;
    font-size: 10px;
  }

  .img-footer {
    width: 90%;
  }

  @media (max-width: 599px) {
    .form-background {
      width: 80%;
      margin-top: 60%;
    }
    .btn-register {
      margin-left: 22%;
    }
    .footer-center {
      padding-left: 10%;
      font-size: 10px;
    }
    .logo-hotsite-sm-img {
      top: 10px;
      padding-bottom: 80%;
    }
    .footer-partner {
      padding-left: 10%;
      padding-right: 1%;
    }
    .img-responsive {
      width: 95%;
      padding-left: 5%;
    }
  }

  @media (min-width: 600px) and (max-width: 959px) {
    .logo-hotsite-sm-img {
      top: 10px;
      width: 30%;
      margin-left: 35%;
      margin-bottom: 60%;
      position: absolute;
    }

    .form-background {
      margin-top: 22%;
    }

    .footer-center {
      padding-left: 30%;
      padding-top: 3%;
      font-size: 10px;
    }

    .footer-partner {
      width: 84%;
      padding-left: 20%;
    }
  }/* eslint-disable */
</style>
